/* 


---01 Typography

 SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98




      Font weights:  
      Default:400
     

      Line heights:
       Default:1

  02 Colors

  Primary:#e67e22

  Tints:#fae5d3
  Shades:
  Accents: 
  Greys: #555
  #333


  ---- 05 Shadows

  ----06 Border-radius



*/

html {
  font-size: 62.5%;
  /* 10px /16px = 0.625=62.5% */
  /* Percentage of users's browser font-size setting */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* #rem root element font size : the root of the document is the html element so the parent element of all the others
*/

.section-hero {
  background-color: #fae5d3;
  padding: 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  border-radius: 9px;
  /* Put transition on orginal state */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff; */
  /* Trick to add border inside */
  box-shadow: inset 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
  /* Doesnot work gap: -10px; */
}

.delivered-imgs img {
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
